[Unit]
Description=Vector Log Aggregator
Documentation=https://vector.dev
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
Group={{ ansible_user_gid }}
ExecStart=/usr/bin/vector --config /etc/vector/vector.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
