# playbook/templates/vector.conf.j2
sources:
  dummy_logs:
    type: demo_logs
    format: syslog
    interval: 1

transforms:
  parse_logs:
    inputs:
      - dummy_logs
    source: |-
      . = parse_syslog!(string!(.message))
      .timestamp = to_string(.timestamp)
      .timestamp = slice!(.timestamp, start:0, end: -1)
    type: remap

sinks:
  to_clickhouse:
    type: clickhouse
    inputs:
      - parse_logs
    database: {{ clickhouse_database_name | default('logs') }}
    endpoint: "http://{{ hostvars[groups['clickhouse'][0]]['ansible_host'] | default('clickhouse-01') }}:8123"
    table: {{ clickhouse_create_table_name | default('dummy_logs') }}
    compression: gzip

api:
  enabled: true
  address: "0.0.0.0:8686"